# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*.local

# Prisma
/prisma/dev.db
/prisma/dev.db-journal
/prisma/migrations/
src/generated/prisma/ # si estás generando manualmente ahí, aunque por convención va en /prisma/client

# VSCode
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Build tools
coverage/
.cache/
*.log

# Other common generated folders
.idea/
*.sqlite
*.sqlite-journal